.results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;;
  }
  
  .card {
    width: 150px;
    background-color: #f8f9fa;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-img-top {
    height: auto;
  }
  
  .card-title {
    font-size: 16px;
  }
  